# Виртуальное окружение
venv/

# Собранные статические файлы
staticfiles/

# Медиафайлы
media/

# Переменные окружения
.env

# Логи
debug.log

# Python кэш
__pycache__/
*.pyc
*.pyo

# macOS файлы
.DS_Store

# IDE файлы (опционально, раскомментируй если используешь)
.vscode/
.idea/

# Локальная БД (если SQLite)
db.sqlite3

# История проекта
README.md
readme.txt

# Django 
secret.key

