<!-- подвал Сайта -->
<footer class="custom-footer text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col" style="max-width: 21ch;">
                <div class="d-flex flex-column">
                    <a href="#" class="text-dark mb-2 text-decoration-none">Пользовательское соглашение;</a>
                    <a href="#" class="text-dark mb-2 text-decoration-none">Публичная оферта интернет-магазина;</a>
                    <a href="#" class="text-dark mb-2 text-decoration-none">Согласие на обработку персональных данных;</a>
                    <a href="#" class="text-dark mb-2 text-decoration-none">Политика конфиденциальности;</a>
                    <a href="#" class="text-dark mb-2 text-decoration-none">Способы оплаты и правила возврата денежных средств.</a>
                </div> 
            </div>
            <div class="col" style="max-width: 21ch;">
                <div class="d-flex flex-column">
                    <a href="#" class="text-dark mb-2 text-decoration-none">Доставка</a>
                    <a href="#" class="text-dark mb-2 text-decoration-none">Поддержка</a>
                    <a href="#" class="text-dark mb-2 text-decoration-none">Контакты</a>
                    <a href="#" class="text-dark mb-2 text-decoration-none">Адрес</a>
                    <span class="text-dark mt-3">2026 г.</span>
                </div>
            </div>


            
            <!--<div class="col-md-3">
                <h5>Контакты</h5>
                <p>Телефон: +7 (XXX) XXX-XX-XX</p>
                <p>Email: info@sazhentsy.ru</p>
            </div>
            <div class="col-md-3">
                <h5>Мы в соцсетях</h5>
                <div class="mt-3">
                    <a href="{% url 'legal_info' %}" class="text-white">Правовая информация</a>
                </div>
                <div class="social-links mt-3">
                    <a href="#" class="text-white me-2"><i class="fab fa-vk" style="font-size: 1.2rem;"></i></a>
                -->
                    <!--             иконки соцсетей 
                    <a href="#" class="text-white me-2"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-white me-2"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="text-white me-2"><i class="bi bi-telegram"></i></a>
                    
                </div>
            </div>
        </div>
    </div>
</footer>-->