{% extends 'base/base.html' %}

{% block title %}Правовая информация{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Правовая информация</h1>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Пользовательское соглашение</a>
        <a href="#" class="list-group-item list-group-item-action">Публичная оферта интернет-магазина</a>
        <a href="#" class="list-group-item list-group-item-action">Согласие на обработку персональных данных</a>
        <a href="#" class="list-group-item list-group-item-action">Политика конфиденциальности</a>
        <a href="#" class="list-group-item list-group-item-action">Способы оплаты и правила возврата денежных средств</a>
    </div>
</div>
{% endblock %}
