{% extends 'base/base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<!-- Страница детали товара -->
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.jpg' %}{% endif %}" 
                 class="img-fluid rounded" alt="{{ product.name }}">
        </div>
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <p class="h3 text-success my-4">{{ product.price }} ₽</p>
            
            <div class="mb-4">
                <h5>Описание</h5>
                <p>{{ product.description|linebreaks }}</p>
            </div>
            
            <form action="{% url 'cart:cart_add' product.id %}" method="post" class="row g-3">
                {% csrf_token %}
                <div class="col-auto">
                    <input type="number" name="quantity" value="1" min="1" class="form-control" style="width: 80px;">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">добавить в корзину</button>
                </div>
            </form>

        </div>
    </div>

{% if recommended_products %}
<div class="mt-5">
    <h3 class="mb-4">Рекомендуем также</h3>
    <div class="row">
        {% for p in recommended_products %}
        <div class="col-md-3 col-6">
            <div class="card h-100">
                <a href="{{ p.get_absolute_url }}">
                    <img src="{% if p.image %}{{ p.image.url }}{% else %}{% static 'img/no-image.jpg' %}{% endif %}" 
                         class="card-img-top" alt="{{ p.name }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ p.name }}</h5>
                    <p class="card-text text-success">{{ p.price }} ₽</p>
                    <a href="{{ p.get_absolute_url }}" class="btn btn-outline-success btn-sm">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}