{% extends 'base/base.html' %}
{% load static %}

{% block title %}{% if category %}{{ category.name }}{% else %}Каталог{% endif %}{% endblock %}

{% block content %}
<style>
.product-card {
    height: 300px;
    display: flex;
    flex-direction: column;
}
.product-img {
    height: 150px;
    object-fit: cover;
}
.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-success {
    width: 150px !important;
}
.product-card .d-flex {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}
.card-text {
    flex-grow: 1;
    margin-bottom: 1rem;
}
.card-title {
    text-align: center;
}
</style>
<div class="container">
    <h1 class="my-4">{% if category %}{{ category.name }}{% else %}Все саженцы{% endif %}</h1>
    
<div class="row">
    <div class="col-md-12">

        <!-- Список товаров -->
            <div class="row">
                {% for product in products %}
                <div class="col-md-3 mb-4">
                    <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-dark">
                        <div class="card product-card">
                            {% with main_image=product.get_main_image %}
                            <img src="{% if main_image %}{{ main_image.url }}{% else %}{% static 'img/no-image.jpg' %}{% endif %}" 
                                class="card-img-top product-img" alt="{{ product.name }}">
                            {% endwith %}
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <div class="text-center">
                                    <span class="h5 mb-0">{{ product.price }} ₽</span>
                                </div>
                                <div class="text-center mt-2">
                                    <button class="btn btn-success">Подробнее</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% empty %}
        
            <div class="col-12">
                <div class="alert alert-info">Товары не найдены.</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
