<!--страница Питомник -->
{% extends 'base/base.html' %}

{% block content %}
<div class="container my-5">
    <h1>Наш питомник</h1>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2>О нашем питомнике</h2>
                    <p>Авторский питомник, где репутация превыше всего. 
То есть: 
Качество 
- выращиваем свой районированный для Подмосковья семенной подвой яблони и груши;
- прививаем только 💯 соответствующий сорт;
- делаем зимнюю прививку, что позволяет выиграть до шести месяцев вегетации (то есть, может отгружать годовалый саженец уже осенью, тогда как весенняя прививка позволяет отгрузить только через год);
- прививаем высоко (от 30 до 50 см), что ограничивает рост саженца (не вырастает пальмой) и при своевременной и правильной обрезке можно держать высоту дерева до 4 метров;
- высота прививки также влияет на закладку плодовых почек. 
Авторство 
- подбираем подвой под пожелания заказчика;
- прививаем семейные деревья (по три летних сорта на скелет, три осенних, три зимних);
- ищем, закупаем и прививаем черенки редких сортов. </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
